@model Bira.Providers.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Excluir " + Model.Name;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<h5>Você tem certeza disso?</h5>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/@Model.Image" alt="@Model.Image" style="width: 300px; height: 428px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.ProviderId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Provider.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Value)
            </dt>
            <dd>
                @Model.Value.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateRegistration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateRegistration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
        </dl>

        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Excluir" class="btn btn-danger" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </form>
        </div>
    </div>

